/* Coolors Exported Palette - https://coolors.co/19161b-36ab3a-ae0f12-f2e416 */

/* CSS HEX */
--russian-black: #19161bff;
--russian-green: #36ab3aff;
--russian-red: #ae0f12ff;
--russian-yellow: #f2e416ff;

/* CSS HSL */
--russian-black: hsla(276, 10%, 10%, 1);
--russian-green: hsla(122, 52%, 44%, 1);
--russian-red: hsla(359, 84%, 37%, 1);
--russian-yellow: hsla(56, 89%, 52%, 1);
