/* W3.CSS Defaults (with font changes)*/
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}

html,body{font-family:"Mulish",sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}


/*
font-family: 'Merriweather', serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Mulish', sans-serif;
*/


body, html {
  height: 100%;
}

body {
  color: #fff;
  background-color: #000;
}


.landing-container {
  background-color: #999;
  margin: 0;
  padding: 0;
  height: 100%; 
  width: 100%; 
}


#masha-main,
#masha-main-color,
#masha-main-camera,
#masha-main-russia,
#masha-main-cancer {
  width: auto;
  height: 100%;
  left:50%;
  position: absolute;
  transform: translate(-50%, 0);
  margin: 0 auto;
  /* transitions */
  -webkit-transition: 1s all 0.2s ease;
     -moz-transition: 1s all 0.2s ease;
      -ms-transition: 1s all 0.2s ease;
       -o-transition: 1s all 0.2s ease;
          transition: 1s all 0.2s ease;
  /*transition-delay: 0.5s;*/
}

/* Masha-main starts visible, z-index 15 */
#masha-main{
  opacity: 1;  
  z-index: 15;
}

/* All masha-mains (except initial masha-main) start transparent; z-index 14 (so it is below masha-main)*/
#masha-main-color,
#masha-main-camera,
#masha-main-russia,
#masha-main-cancer {
  opacity: 0;
  z-index: 14;
}


/* When you hover over masha-main, it disappears */
#masha-main:hover{
  opacity: 0;
}

/* When you hover over masha-main, masha-main-color appears */
#masha-main:hover ~ #masha-main-color{
  opacity: 1;
  /*transition-delay: 0;*/
}

#name-main {
  color: white;
  left:50%;
  position: absolute;
  transform: translate(-50%, 0);
  bottom: 10%;
  margin: 0 auto;
  z-index: 16;
}

.name-main-header{ /*Use this to edit the h1 elements in the name-main space */
  margin: 0 0;
  font-variant: small-caps;
  font-family: 'Merriweather', serif;
  font-size: 5vmin;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 1);
}


#name-main-v2{
  color: white;
  position: absolute;
  z-index: 16;
  width: 100%;
}

.name-main-header-v2{ /*Use this to edit the h1 elements in the name-main-v2 space */
  margin: 0 0;
  font-variant: small-caps;
  font-family: 'Merriweather', serif;
  font-size: 6vmin;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 1);
  text-align: center;
}


.landing-background{
  display: block;
  position: absolute;
  /* transitions */
  -webkit-transition: 1s all 0.2s ease;
     -moz-transition: 1s all 0.2s ease;
      -ms-transition: 1s all 0.2s ease;
       -o-transition: 1s all 0.2s ease;
          transition: 1s all 0.2s ease;
  
}


.landing-background{
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  filter:grayscale(70%) blur(5px);
}


.link-category{
  color: white;
  position: absolute;
  z-index: 30;
  font-family: 'Libre Franklin', sans-serif;
  font-style: italic;
  font-size: x-large;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 1);

  /* transitions */
  -webkit-transition: 1s all 0.2s ease;
     -moz-transition: 1s all 0.2s ease;
      -ms-transition: 1s all 0.2s ease;
       -o-transition: 1s all 0.2s ease;
          transition: 1s all 0.2s ease;
}

/*This will undo changes to the text decoration (e.g., underline, color-change, etc.) of 
  hyperlinks that have been clicked before, hovered over, etc. */
.link-category:link,
.link-category:visited,
.link-category:hover,
.link-category:active{
  text-decoration: none
}


#link-category-1{ /* Amateur Photographer */
  left:14.285714%;
  transform: translate(-50%, 0);
  bottom: 25%;
}

#link-category-2{ /* cPTSD Fighter/Advocate */
  left: 21.428571%;
  transform: translate(-50%, 0);
  bottom: 50%;
}

#link-category-3{ /* Childhood Cancer Survivor */
  left:28.571428%;
  transform: translate(-50%, 0);
  bottom: 75%;
}

#link-category-4{ /* Aspiring Doctor and Author */
  left:71.428572%;
  transform: translate(-50%, 0);
  bottom: 75%;
}

#link-category-5{ /* Russian Orphan/Adoptee */
  left: 78.571429%;
  transform: translate(-50%, 0);
  bottom: 50%;
}

#link-category-6{ /* Undergraduate Student */
  left:85.714286%;
  transform: translate(-50%, 0);
  bottom: 25%;
}

/* all landing-background elements are initially transparent */
.landing-background{
  filter: alpha(opacity=0); /* for IE */
  opacity: 0;
  z-index: 1;
}

/* The default landing-background is initially opaque */
#landing-background-default{ 
  filter: alpha(opacity=1); /* for IE */
  opacity: 1;
}


/* When you hover over a link-category, its' font size increases*/
.link-category:hover{ 
  font-size: xx-large;
}

/* When you hover over a link-category, masha-main disappears*/
.link-category:hover ~ #masha-main { 
  filter: alpha(opacity=0); /* for IE */
  opacity: 0;
}



#link-category-1:hover ~ #landing-background-1,
#link-category-1:hover ~ #masha-main-camera { 
  filter: alpha(opacity=100); /* for IE */
  opacity: 1;
}


#link-category-2:hover ~ #landing-background-2 { 
  filter: alpha(opacity=100); /* for IE */
  opacity: 1;
}

#link-category-3:hover ~ #landing-background-3,
#link-category-3:hover ~ #masha-main-cancer { 
  filter: alpha(opacity=100); /* for IE */
  opacity: 1;
}

#link-category-4:hover ~ #landing-background-4 { 
  filter: alpha(opacity=100); /* for IE */
  opacity: 1;
}

#link-category-5:hover ~ #landing-background-5,
#link-category-5:hover ~ #masha-main-russia { 
  filter: alpha(opacity=100); /* for IE */
  opacity: 1;
}

#link-category-6:hover ~ #landing-background-6 { 
  filter: alpha(opacity=100); /* for IE */
  opacity: 1;
}


/*-------------     END      --------------*/
/*_________________________________________*/






/*-----------------------------------------------*/
/*-------------    Modal Popups    --------------*/
/*-----------------------------------------------*/

.ft-modal {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
  z-index: 9999;	
  overflow: auto;
	position: fixed;
  visibility: hidden;
	margin-top: -250px;
	background: rgba(0,0,0,.85);
	
	transition: all .9s ease-in-out;
	-moz-transition: all .9s ease-in-out;
	-webkit-transition: all .9s ease-in-out;
  
  font-family: "Mulish";
  color: white;
  
}

.ft-modal-title{
  font-size: larger;
  text-align: center;
}
 
.ft-modal:target {
	opacity: 1;
	margin-top: 0px;
	visibility: visible;	
}
 
.ft-modal-content {
	width: 70%;
    padding: 25px;

    
    /*
    background: #420039;
    background: -moz-linear-gradient(top, #420039 0%, #932F6D 100%, #E07BE0 100%);
    background: -webkit-linear-gradient(top, #420039 0%, #932F6D 100%, #E07BE0 100%);
    background: linear-gradient(to bottom, #420039 0%, #932F6D 100%, #E07BE0 100%);
    */


	max-width: 1150px;
    margin: 70px auto;
	position: relative;
	border-radius: 8px;



}
 
.ft-modal-body p {
  padding: 0 15px;
}



.ft-modal-close {
	top: 30px;
	right: 60px;
	float: right;
	position: fixed;
}

.ft-modal-close img{
  transition: all ease-in 0.3s;
  filter: brightness(50%);
}

.ft-modal-close img:hover {
  filter: brightness(100%);
  
}

.ft-modal-close-text {
  font-size: xx-small; 
  color: white!important; 
  margin:0; 
  text-align: center;"
  
}

.ft-modal-close-text:link,
.ft-modal-close-text:visited,
.ft-modal-close-text:hover,
.ft-modal-close-text:active{
  text-decoration: none
}







.ft-modal figure {
   display: inline-block;
   padding: 10px;
   text-align: center;

}

.ft-modal figure img{
  width: 300px;
  height: auto;
  
}

.ft-modal figcaption {
 padding: 5px;
  width: 300px;
 height: auto;
  font-size: small;
}

.right{
  float: right;
  margin: 0 0 10px 0;
}

.left{
  float: left;
  margin: 0 10px 0 0;
}


.image {
  border-radius: 4px;
  border: 0;
  display: inline-block;
  position: relative;
}

  .image:before {
    pointer-events: none;
    background-image: url("../../images/overlay.png");
    background-color: rgba(19, 21, 25, 0.5);
    border-radius: 4px;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .image img {
    border-radius: 4px;
    display: block;
  }

  .image.left, .image.right {
    max-width: 40%;
  }

    .image.left img, .image.right img {
      width: 100%;
    }

  .image.left {
    float: left;
    padding: 0 1.5em 1em 0;
    top: 0.25em;
  }

  .image.right {
    float: right;
    padding: 0 0 1em 1.5em;
    top: 0.25em;
  }

  .image.fit {
    display: block;
    margin: 0 0 2rem 0;
    width: 100%;
  }

    .image.fit img {
      width: 100%;
    }

  .image.ft-modal-header {
    display: block;
    margin: 2.5rem 0;
    width: 100%;
  }

    .image.ft-modal-header img {
      width: 100%;
      height: auto;
      max-height: 350px;
      object-fit: cover;
    }

  @media screen and (max-width: 736px) {

    .image.ft-modal-header {
      margin: 2rem 0;
    }

  }

  @media screen and (max-width: 480px) {

    .image.ft-modal-header {
      margin: 1.5rem 0;
    }

  }


/*-------------     END      --------------*/
/*_________________________________________*/






/*-----------------------------------------*/
/*-------------    Footer    --------------*/
/*-----------------------------------------*/

footer{
  text-align: center!important;
  padding-top: 64px!important;
  padding-bottom: 64px!important;
  background-image: url(../images/sparkles.png);
}

.to-the-top-button{
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;

  color: #000!important;
  background-color: #f1f1f1!important;
}

.to-the-top-button:hover {
  color: #000!important;
  background-color: #ccc!important;
}

.social-media-icons{
  margin-top: 16px!important; 
  margin-bottom: 16px!important; 
  font-size: 24px!important; 
}

.social-media-icons a:hover{
  opacity: 0.60;
}

.last-updated{
    font-size: 12px;
}

footer a:visited {
  color: white;
}








/*loader*/
.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}