/* W3.CSS Defaults (with font changes)*/
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}

html,body{font-family:"Mulish",sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}


/*
font-family: 'Merriweather', serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Mulish', sans-serif;
*/


body, html {
  height: 100%;
}

body {
  color: #fff;
  background-color: #000;
}


/* FLEX DIV (used in Childhood Cancer Survivor modal images) */
.flex-div{
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1200px) {

  .flex-div {
    display: block;
  }

}
/* END FLEX DIV */


.landing-container {
  background-color: #999;
  margin: 0;
  padding: 0;
  height: 100%; 
  width: 100%; 
}


#masha-main,
#masha-main-color,
#masha-main-camera,
#masha-main-russia,
#masha-main-cancer, 
#masha-main-cptsd,
#masha-main-doctor,
#masha-main-student,
#daisy-main {
  width: auto;
  height: 100%;
  left:50%;
  position: absolute;
  transform: translate(-50%, 0);
  filter: drop-shadow(2px 5px 10px rgba(0,0,0,0.60));
  margin: 0 auto;
  /* transitions */
  -webkit-transition: 1s all 0.2s ease;
     -moz-transition: 1s all 0.2s ease;
      -ms-transition: 1s all 0.2s ease;
       -o-transition: 1s all 0.2s ease;
          transition: 1s all 0.2s ease;
  /*transition-delay: 0.5s;*/
}

/* Masha-main starts visible, z-index 15 */
#masha-main{
  opacity: 1;  
  z-index: 15;
}

/* All masha-mains (except initial masha-main) start transparent; z-index 14 (so it is below masha-main)*/
#masha-main-color,
#masha-main-camera,
#masha-main-russia,
#masha-main-cancer, 
#masha-main-cptsd,
#masha-main-doctor,
#masha-main-student,
#daisy-main {
  opacity: 0;
  z-index: 14;
}


/* When you hover over masha-main, it disappears */
#masha-main:hover{
  opacity: 0;
}

/* When you hover over masha-main, masha-main-color appears */
#masha-main:hover ~ #masha-main-color{
  opacity: 1;
  /*transition-delay: 0;*/
}

#name-main {
  color: white;
  left:50%;
  position: absolute;
  transform: translate(-50%, 0);
  bottom: 10%;
  margin: 0 auto;
  z-index: 16;
}

.name-main-header{ /*Use this to edit the h1 elements in the name-main space */
  margin: 0 0;
  font-variant: small-caps;
  font-family: 'Merriweather', serif;
  font-size: 5vmin;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 1);
}


#name-main-v2{
  color: white;
  position: absolute;
  z-index: 16;
  width: 100%;
}

.name-main-header-v2{ /*Use this to edit the h1 elements in the name-main-v2 space */
  margin: 0 0;
  font-variant: small-caps;
  font-family: 'Merriweather', serif;
  font-size: 6vmin;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 1);
  text-align: center;
}

.name-main-header-v2:hover{ /*Use this to edit the h1 elements in the name-main-v2 space */
  cursor: default;
}

.name-main-header-v3{ /*Use this to edit the h5 elements in the name-main-v2 space */
  margin: 0 0;
  font-family: 'Merriweather', serif;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 1);
  text-align: center;
  opacity: .5;
  /* transitions */
  -webkit-transition: 1s all 0.2s ease;
     -moz-transition: 1s all 0.2s ease;
      -ms-transition: 1s all 0.2s ease;
       -o-transition: 1s all 0.2s ease;
          transition: 1s all 0.2s ease;
}

.name-main-header-v3:hover{ /*Use this to edit the h5 elements in the name-main-v2 space */
  opacity: 1;
  cursor: default;
}

.landing-background{
  display: block;
  position: absolute;
  /* transitions */
  -webkit-transition: 1s all 0.2s ease;
     -moz-transition: 1s all 0.2s ease;
      -ms-transition: 1s all 0.2s ease;
       -o-transition: 1s all 0.2s ease;
          transition: 1s all 0.2s ease;
  
}


.landing-background{
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
  filter:grayscale(70%) blur(5px);
}


.link-category{
  color: white;
  position: absolute;
  z-index: 30;
  font-family: 'Libre Franklin', sans-serif;
  font-style: italic;
  font-size: x-large;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 1);

  /* transitions */
  -webkit-transition: 1s all 0.2s ease;
     -moz-transition: 1s all 0.2s ease;
      -ms-transition: 1s all 0.2s ease;
       -o-transition: 1s all 0.2s ease;
          transition: 1s all 0.2s ease;
}

/*This will undo changes to the text decoration (e.g., underline, color-change, etc.) of 
  hyperlinks that have been clicked before, hovered over, etc. */
.link-category:link,
.link-category:visited,
.link-category:hover,
.link-category:active{
  text-decoration: none
}


#link-category-1{ /* Amateur Photographer */
  left:14.285714%;
  transform: translate(-50%, 0);
  bottom: 25%;
}

#link-category-2{ /* cPTSD Fighter/Advocate */
  left: 21.428571%;
  transform: translate(-50%, 0);
  bottom: 50%;
}

#link-category-3{ /* Childhood Cancer Survivor */
  left:28.571428%;
  transform: translate(-50%, 0);
  bottom: 75%;
}

#link-category-4{ /* Aspiring Doctor and Author */
  left:71.428572%;
  transform: translate(-50%, 0);
  bottom: 75%;
}

#link-category-5{ /* Russian Orphan/Adoptee */
  left: 78.571429%;
  transform: translate(-50%, 0);
  bottom: 50%;
}

#link-category-6{ /* Undergraduate Student */
  left:85.714286%;
  transform: translate(-50%, 0);
  bottom: 25%;
}

#link-category-7{ /* Daisy the Cat */
  float: right;
  bottom: 0;
}

#link-category-8{ /* Resources */
  bottom: -50px;
  color: white;
  position: absolute;
  z-index: 30;
  font-family: 'Libre Franklin', sans-serif;
  font-style: italic;
  font-size: x-large;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 1);
  left: 50%;
  transform: translate(-50%, 0);
}

#link-category-8:link,
#link-category-8:visited,
#link-category-8:hover,
#link-category-8:active{
  text-decoration: none
}

/* all landing-background elements are initially transparent */
.landing-background{
  filter: alpha(opacity=0); /* for IE */
  opacity: 0;
  z-index: 1;
}

/* The default landing-background is initially opaque */
#landing-background-default{ 
  filter: alpha(opacity=1); /* for IE */
  opacity: 1;
}


/* When you hover over a link-category, its' font size increases*/
.link-category:hover{ 
  font-size: xx-large;
}

/* When you hover over a link-category, masha-main disappears*/
.link-category:hover ~ #masha-main { 
  filter: alpha(opacity=0); /* for IE */
  opacity: 0;
}



#link-category-1:hover ~ #landing-background-1,
#link-category-1:hover ~ #masha-main-camera { 
  filter: alpha(opacity=100); /* for IE */
  opacity: 1;
}


#link-category-2:hover ~ #landing-background-2,
#link-category-2:hover ~ #masha-main-cptsd { 
  filter: alpha(opacity=100); /* for IE */
  opacity: 1;
}

#link-category-3:hover ~ #landing-background-3,
#link-category-3:hover ~ #masha-main-cancer { 
  filter: alpha(opacity=100); /* for IE */
  opacity: 1;
}

#link-category-4:hover ~ #landing-background-4,
#link-category-4:hover ~ #masha-main-doctor { 
  filter: alpha(opacity=100); /* for IE */
  opacity: 1;
}

#link-category-5:hover ~ #landing-background-5,
#link-category-5:hover ~ #masha-main-russia { 
  filter: alpha(opacity=100); /* for IE */
  opacity: 1;
}

#link-category-6:hover ~ #landing-background-6,
#link-category-6:hover ~ #masha-main-student { 
  filter: alpha(opacity=100); /* for IE */
  opacity: 1;
}

#link-category-7:hover ~ #landing-background-7,
#link-category-7:hover ~ #daisy-main { 
  filter: alpha(opacity=100); /* for IE */
  opacity: 1;
}



/* Media Queries */

@media screen and (max-width: 480px) {

  .landing-container {
    display:flex;
    justify-content: center;
    align-items: center;

  }

  .link-category {
    font-size: 15px;
  }

  #link-category-1{ /* Amateur Photographer */
    left: none;
    transform: none;
    bottom: none;
  }
  
  #link-category-2{ /* cPTSD Fighter/Advocate */
    left: none;
    transform: none;
    bottom: none;
  }
  
  #link-category-3{ /* Childhood Cancer Survivor */
    left: none;
    transform: none;
    bottom: none;
  }
  
  #link-category-4{ /* Aspiring Doctor and Author */
    left: none;
    transform: none;
    bottom: none;
  }
  
  #link-category-5{ /* Russian Orphan/Adoptee */
    left: none;
    transform: none;
    bottom: none;
  }
  
  #link-category-6{ /* Undergraduate Student */
    left: none;
    transform: none;
    bottom: none;
  }
  
  #link-category-7{ /* Daisy the Cat */
    float: right;
    bottom: 0;
  }














}



/*-------------     END      --------------*/
/*_________________________________________*/






/*-----------------------------------------------*/
/*-------------    Modal Popups    --------------*/
/*-----------------------------------------------*/

.ft-modal {
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	opacity: 0;
  z-index: 9999;	
  overflow: auto;
	position: fixed;
  visibility: hidden;
	margin-top: -250px;
	background: rgba(0,0,0,.85);
	
	transition: all .9s ease-in-out;
	-moz-transition: all .9s ease-in-out;
	-webkit-transition: all .9s ease-in-out;
  
  font-family: "Mulish";
  color: white;
  
}

.ft-modal-title{
  font-size: x-large;
  text-align: center;
  font-family: "Merriweather";
  text-shadow: 3px 3px 7px rgb(0 0 0);
}
 
.ft-modal:target {
	opacity: 1;
	margin-top: 0px;
	visibility: visible;	
}
 
.ft-modal-content {
	width: 70%;
  padding: 25px;

    
    /*
    background: #420039;
    background: -moz-linear-gradient(top, #420039 0%, #932F6D 100%, #E07BE0 100%);
    background: -webkit-linear-gradient(top, #420039 0%, #932F6D 100%, #E07BE0 100%);
    background: linear-gradient(to bottom, #420039 0%, #932F6D 100%, #E07BE0 100%);
    */


	max-width: 1150px;
  margin: 25px auto;
	position: relative;
	border-radius: 8px;



}
 
.ft-modal-body p {
  padding: 0 15px;
}



.ft-modal-close {
	top: 30px;
	right: 60px;
	float: right;
	position: fixed;
}

.ft-modal-close img{
  transition: all ease-in 0.3s;
  filter: brightness(50%);
}

.ft-modal-close img:hover {
  filter: brightness(100%);
  
}

.ft-modal-close-text {
  font-size: xx-small; 
  color: white!important; 
  margin:0; 
  text-align: center;"
  
}

.ft-modal-close-text:link,
.ft-modal-close-text:visited,
.ft-modal-close-text:hover,
.ft-modal-close-text:active{
  text-decoration: none
}







.ft-modal figure {
   display: inline-block;
   padding: 10px;
   text-align: center;

}



.ft-modal figcaption {
 padding: 5px;
  width: 300px;
 height: auto;
  font-size: small;
}

.right{
  float: right;
  margin: 0 0 10px 0;
}

.left{
  float: left;
  margin: 0 10px 0 0;
}


.image {
  border-radius: 4px;
  border: 0;
  display: inline-block;
  position: relative;
}

  .image:before {
    pointer-events: none;
    background-image: url("../../images/overlay.png");
    background-color: rgba(19, 21, 25, 0.5);
    border-radius: 4px;
    content: '';
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.5;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .image img {
    border-radius: 4px;
    display: block;
  }

  .image.left, .image.right {
    max-width: 40%;
  }

    .image.left img, .image.right img {
      width: 100%;
    }

  .image.left {
    float: left;
    padding: 0 1.5em 1em 0;
    top: 0.25em;
  }

  .image.right {
    float: right;
    padding: 0 0 1em 1.5em;
    top: 0.25em;
  }

  .image.fit {
    display: block;
    margin: 0 0 2rem 0;
    width: 100%;
  }

    .image.fit img {
      width: 100%;
    }

  .image.ft-modal-header {
    display: block;
    margin: 2.5rem 0;
    width: 100%;
  }

    .modal-hero-image-background {
      width: 100%;
      height: auto;
      max-height: 350px;
      object-fit: cover;
    }

  
    .modal-hero-image-foreground-2 {
      position: absolute;
      bottom: 0;
      right: 0;
      height: 100%;
    }

    .modal-hero-image-foreground{
      position: absolute;
      bottom: 0;
      right: 0;
      height: 85%;
  }

  @media screen and (max-width: 736px) {

    .image.ft-modal-header {
      margin: 2rem 0;
    }

  }

  @media screen and (max-width: 480px) {

    .image.ft-modal-header {
      margin: 1.5rem 0;
    }

  }


  /* Modal Image Pop-Ups*/
  .myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
  
  .myImg:hover {opacity: 0.7;}
  
  /* The Modal (background) */
  .modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }
  
  /* Modal Content (image) */
  .modal-content {
    margin: auto;
    display: block;
    height:90%;
    width: auto;
  }
  
  /* Caption of Modal Image */
  .caption {
    margin: auto;
    display: block;
    width: 80%;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 150px;
  }
  
  /* Add Animation */
  .modal-content, .caption {  
    -webkit-animation-name: zoom;
    -webkit-animation-duration: 0.6s;
    animation-name: zoom;
    animation-duration: 0.6s;
  }
  
  @-webkit-keyframes zoom {
    from {-webkit-transform:scale(0)} 
    to {-webkit-transform:scale(1)}
  }
  
  @keyframes zoom {
    from {transform:scale(0)} 
    to {transform:scale(1)}
  }
  
  /* The Close Button */
  
  .close {
    top: 39px;
    right: 100px;
    float: right;
    position: fixed;
    cursor: pointer;
  }
  
  .close img{
    transition: all ease-in 0.3s;
    filter: brightness(50%);
  }
  
  .close img:hover {
    filter: brightness(100%);
    
  }
  
  .close-text {
    font-size: xx-small; 
    color: white!important; 
    margin:0; 
    text-align: center;"
    
  }




  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 90%;
      height:auto;
    }
  }


/*-------------     END      --------------*/
/*_________________________________________*/




/*-----------------------------------------------*/
/*--------------MODAL IMAGE GALLERY--------------*/
/*-----------------------------------------------*/

/*-------------------Modal Image Gallery (mig)-------------------*/

.mig-main-image-container{
  position: relative;
  box-sizing: border-box;
  vertical-align: bottom;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px 0;
}

.mig-main-image-container img {
  position: relative;
  display: inline-block;
  height: 150px;
  width: auto;
  bottom: 0;
  transition: all 750ms ease-in-out;
  margin: 5px 5px;
  border-radius: 5px;
}

.mig-main-image-container img:hover{
  filter: brightness(1.05);
  transform: scale(1.01);
  bottom: 5px;
}



/* The Modal mig (background) */
.modal-mig {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;

}
/* Modal mig Content */
.modal-content-mig {

}

/* Add Animation */
.modal-content-mig, .caption-mig {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}



.migSlides {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: -1; /* Below close buttons */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */



}

.migSlides img{
  height: 90%;
  width: auto;
  margin: auto;
  display: block;

}

.cursor {
  cursor: pointer
}


/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: #333;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
  margin-right: 50px;
  margin-left: 50px;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color:#fff;
}
/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 16px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}
.demo-mig {
  opacity: 0.6;
}
.active,
.demo-mig:hover {
  opacity: 1;
}


.small-square{
  height: 85px;
  width: 25%;
  background-color: #cccccc;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  
  
  bottom: 0;
  transition: all 500ms ease-in-out;
}

.small-square:hover{
  filter: brightness(1.02);
  transform: scale(1.01);
  bottom: 3px;
}


.demo-container {
  position: relative;
  box-sizing: border-box;
  vertical-align: bottom;
  padding-bottom: 10px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}







/*-----------------------------------------------*/
/*-------------------BOOKSHELF-------------------*/
/*-----------------------------------------------*/


/* START First Photo Grid Styling */

@media (min-width: 601px){

  .project-item h4 {
      height: 72px;
  }   
  
  } 
  
  .project-gallery-img{
      transition: 1000ms ease-in-out;
      width: 100%;
      border-radius: 15px;
  }
  
  
  .project-gallery-img:hover{
      filter: brightness(1.05);
      transform: scale(1.05);
  }
  
  /* END First Photo Grid Styling */
  
  
  
  #bookshelf {
    position: relative;
    box-sizing: border-box;
    vertical-align: bottom;
    padding-bottom: 10px;
    /*display: table; I changed display to flex for easier centering*/
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  
  
  
  
  }
  #bookshelf img {
    position: relative;
    display: inline-block;
    /*width: 150px;*/
    height: 120px;
    width: auto;
    bottom: 0;
    transition: all 1000ms ease-in-out;
    border-radius: 5%;

  }
  
  #bookshelf img:hover{
    filter: brightness(1.05);
    transform: scale(1.05);
    bottom: 20px;
  }
  
  
  
  
  #bookshelf a {
  position: relative;
  display: inline-block;
  margin-top: 1em;
  margin-right: -0.25em;
  padding: 0 10px;
  text-decoration: none;
  margin-bottom: 25px;
  }
  #bookshelf a:after {
  /*
  content:"";
  position: absolute;
  bottom: -6px;
  left: 0;
  right: 0;
  height: 10px;
  background-color: #777;
  */
  }
  
  
  
  
  
  /*-----------------------------------------------*/
  /*--------------------TOOLTIP--------------------*/
  /*-----------------------------------------------*/
  #tooltip
  {
      text-align: center;
      color: #fff;
      background: rgba(38, 56, 72, 0.99);
      position: absolute;
      z-index: 100;
      padding: 15px;
  }

   
      #tooltip:after /* triangle decoration */
      {
          width: 0;
          height: 0;
          border-left: 10px solid transparent;
          border-right: 10px solid transparent;
          border-top: 10px solid rgba(38, 56, 72, 0.99);
          content: '';
          position: absolute;
          left: 50%;
          bottom: -10px;
          margin-left: -10px;
      }
   
          #tooltip.top:after
          {
              border-top-color: transparent;
              border-bottom: 10px solid rgba(38, 56, 72, 0.99);
              top: -20px;
              bottom: auto;
          }
   
          #tooltip.left:after
          {
              left: 10px;
              margin: 0;
          }
   
          #tooltip.right:after
          {
              right: 10px;
              left: auto;
              margin: 0;
          }
  
  
  
/* END TOOLTIPS / BOOKSHELF */  









/*-----------------------------------------*/
/*-------------    Footer    --------------*/
/*-----------------------------------------*/

footer{
  text-align: center!important;
  padding-top: 64px!important;
  padding-bottom: 64px!important;
  background-image: url(../images/sparkles.png);
}

.to-the-top-button{
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;

  color: #000!important;
  background-color: #f1f1f1!important;
}

.to-the-top-button:hover {
  color: #000!important;
  background-color: #ccc!important;
}

.social-media-icons{
  margin-top: 16px!important; 
  margin-bottom: 16px!important; 
  font-size: 24px!important; 
}

.social-media-icons a:hover{
  opacity: 0.60;
}

.last-updated{
    font-size: 12px;
}

footer a:visited {
  color: white;
}

/*-------------     END      --------------*/
/*_________________________________________*/





/*--------------------------------------------*/
/*-------------    Preloader    --------------*/
/*--------------------------------------------*/


.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  background-color: #454545;
  background-image: url("data:image/svg+xml,%3Csvg width='80' height='88' viewBox='0 0 80 88' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M22 21.91V26h-2c-9.94 0-18 8.06-18 18 0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73 3.212-6.99 9.983-12.008 18-12.73V62h2c9.94 0 18-8.06 18-18 0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73-3.212 6.99-9.983 12.008-18 12.73zM54 58v4.696c-5.574 1.316-10.455 4.428-14 8.69-3.545-4.262-8.426-7.374-14-8.69V58h-5.993C12.27 58 6 51.734 6 44c0-7.732 6.275-14 14.007-14H26v-4.696c5.574-1.316 10.455-4.428 14-8.69 3.545 4.262 8.426 7.374 14 8.69V30h5.993C67.73 30 74 36.266 74 44c0 7.732-6.275 14-14.007 14H54zM42 88c0-9.94 8.06-18 18-18h2v-4.09c8.016-.722 14.787-5.738 18-12.73v7.434c-3.545 4.262-8.426 7.374-14 8.69V74h-5.993C52.275 74 46 80.268 46 88h-4zm-4 0c0-9.943-8.058-18-18-18h-2v-4.09c-8.012-.722-14.785-5.738-18-12.73v7.434c3.545 4.262 8.426 7.374 14 8.69V74h5.993C27.73 74 34 80.266 34 88h4zm4-88c0 9.943 8.058 18 18 18h2v4.09c8.012.722 14.785 5.738 18 12.73v-7.434c-3.545-4.262-8.426-7.374-14-8.69V14h-5.993C52.27 14 46 7.734 46 0h-4zM0 34.82c3.213-6.992 9.984-12.008 18-12.73V18h2c9.94 0 18-8.06 18-18h-4c0 7.732-6.275 14-14.007 14H14v4.696c-5.574 1.316-10.455 4.428-14 8.69v7.433z' fill='%23000000' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");  z-index: 999999;

}

.loader img{
  border: 20px solid #292929;
  max-width: 320px;
}


@media screen and (max-width: 400px) {

  .loader img {
    width: 80%;
  }

}


.preloader-text{
  font-size:xx-large;
  text-align: center;
}

/*
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s infinite ease;
  z-index: 9999999;
}

.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s infinite ease-in;
  z-index: 9999999;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg);}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%;}
}
*/












