/*Set font family for body & h elements*/
body, h1,h2,h3,h4,h5,h6 {font-family: "Montserrat", sans-serif}


body, html {
  height: 100%;
}

/*Fullscreen background image*/
.bg-masha {
  /* The image used */
  background-image: url("../images/masha-main-b&w.jpg");

  /* Full height */
  height: 100%; 

  /* Center and scale the image nicely */
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;

  /*fixed for parallax effect*/
  background-attachment: fixed;
}

/*Hero text for on top of Masha 
.hero-bg-masha-text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

  text-transform: uppercase;
}



/*Footer*/
.last-updated{
    font-size: 12px;
}


