/* W3.CSS Defaults (with font changes)*/
html{box-sizing:border-box}*,*:before,*:after{box-sizing:inherit}

html{-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}
article,aside,details,figcaption,figure,footer,header,main,menu,nav,section{display:block}summary{display:list-item}
audio,canvas,progress,video{display:inline-block}progress{vertical-align:baseline}
audio:not([controls]){display:none;height:0}[hidden],template{display:none}
a{background-color:transparent}a:active,a:hover{outline-width:0}
abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}
b,strong{font-weight:bolder}dfn{font-style:italic}mark{background:#ff0;color:#000}
small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}
sub{bottom:-0.25em}sup{top:-0.5em}figure{margin:1em 40px}img{border-style:none}
code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}hr{box-sizing:content-box;height:0;overflow:visible}
button,input,select,textarea,optgroup{font:inherit;margin:0}optgroup{font-weight:bold}
button,input{overflow:visible}button,select{text-transform:none}
button,[type=button],[type=reset],[type=submit]{-webkit-appearance:button}
button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}
button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}
fieldset{border:1px solid #c0c0c0;margin:0 2px;padding:.35em .625em .75em}
legend{color:inherit;display:table;max-width:100%;padding:0;white-space:normal}textarea{overflow:auto}
[type=checkbox],[type=radio]{padding:0}
[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}
[type=search]{-webkit-appearance:textfield;outline-offset:-2px}
[type=search]::-webkit-search-decoration{-webkit-appearance:none}
::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}

html,body{font-family:"Mulish",sans-serif;font-size:15px;line-height:1.5}html{overflow-x:hidden}


/*
font-family: 'Merriweather', serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Mulish', sans-serif;
*/


body, html {
  height: 100%;
}

body {
  color: #fff;
  background-color: #000;
}


.landing-container {
  background-color: #999;
  margin: 0;
  padding: 0;
  height: 100%; 
  width: 100%; 
}


#masha-main {
  width: auto;
  height: 100%;
  left:50%;
  position: absolute;
  z-index: 15;
  transform: translate(-50%, 0);
  margin: 0 auto;
  opacity: 1;
  transition: opacity 2s;
  transition-delay: 0.5s;
}

#masha-main-color {
  width: auto;
  height: 100%;
  left:50%;
  position: absolute;
  z-index: 14;
  transform: translate(-50%, 0);
  margin: 0 auto;
  opacity: 0;
  transition: opacity 2s;
  transition-delay: 0.5s;
}

#masha-main:hover{
  opacity: 0;
}


#masha-main:hover ~ #masha-main-color{
  opacity: 1;
  transition-delay: 0s;
}

#name-main {
  color: white;
  left:50%;
  position: absolute;
  transform: translate(-50%, 0);
  bottom: 10%;
  margin: 0 auto;
  z-index: 16;
  
}

.name-main-header{ /*Use this to edit the h1 elements in the name-main space */
  margin: 0 0;
  font-variant: small-caps;
  font-family: 'Merriweather', serif;
  font-size: 5vmin;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 1);
}


#name-main-v2{
  color: white;
  position: absolute;
  z-index: 16;
  width: 100%;
}

.name-main-header-v2{ /*Use this to edit the h1 elements in the name-main-v2 space */
  margin: 0 0;
  font-variant: small-caps;
  font-family: 'Merriweather', serif;
  font-size: 5vmin;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 1);
  text-align: center;
}


.landing-container > .landing-background{
  display: block;
  position: absolute;
  /* transitions */
  -webkit-transition: all 2s ease;
     -moz-transition: all 2s ease;
      -ms-transition: all 2s ease;
       -o-transition: all 2s ease;
          transition: all 2s ease;
  
}


.landing-background{
  object-fit: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

#landing-background-default{
  filter:grayscale(70%) blur(5px);
}


.link-category{
  color: white;
  position: absolute;
  z-index: 30;
  font-family: 'Libre Franklin', sans-serif;
  font-style: italic;
  font-size: x-large;
  text-shadow: 3px 3px 7px rgba(0, 0, 0, 1);
}

.link-category:link,
.link-category:visited,
.link-category:hover,
.link-category:active{
  text-decoration: none
}

#link-category-1{
  left:14.285714%;
  transform: translate(-50%, 0);
  bottom: 25%;
}

#link-category-2{
  left: 21.428571%;
  transform: translate(-50%, 0);
  bottom: 50%;
}

#link-category-3{
  left:28.571428%;
  transform: translate(-50%, 0);
  bottom: 75%;
}

#link-category-4{
  left:71.428572%;
  transform: translate(-50%, 0);
  bottom: 75%;
}

#link-category-5{
  left: 78.571429%;
  transform: translate(-50%, 0);
  bottom: 50%;
}

#link-category-6{
  left:85.714286%;
  transform: translate(-50%, 0);
  bottom: 25%;
}




/*     Need to put a comment here      */

.landing-container > #landing-background-1{
  filter: alpha(opacity=0); /* for IE */
  opacity: 0;
  z-index: 1;
}

.landing-container > #landing-background-2{ 
  filter: alpha(opacity=100); /* for IE */
  opacity: 0;
  z-index: 1;
}
.landing-container > #landing-background-3{ 
  filter: alpha(opacity=0); /* for IE */
  opacity: 0;
  z-index: 1;
}

.landing-container > #landing-background-default{ 
  filter: alpha(opacity=0); /* for IE */
  opacity: 1;
  z-index: 1;
}

/* hover */

#link-category-1:hover ~ #landing-background-1{ 
  filter: alpha(opacity=100);
  opacity: 1;
  z-index: 2;
}

#link-category-2:hover ~ #landing-background-2{ 
  filter: alpha(opacity=100);
  opacity: 1;
  z-index: 2;
}

#link-category-3:hover ~ #landing-background-3{ 
  filter: alpha(opacity=100);
  opacity: 1;
  z-index: 2;
}

#link-category-4:hover ~ #landing-background-4{ 
  filter: alpha(opacity=100);
  opacity: 1;
  z-index: 2;
}

#link-category-5:hover ~ #landing-background-5{ 
  filter: alpha(opacity=100);
  opacity: 1;
  z-index: 2;
}

#link-category-6:hover ~ #landing-background-6{ 
  filter: alpha(opacity=100);
  opacity: 1;
  z-index: 2;
}


/*-------------     END      --------------*/
/*_________________________________________*/




/*-----------------------------------------*/
/*-------------    Footer    --------------*/
/*-----------------------------------------*/

footer{
  text-align: center!important;
  padding-top: 64px!important;
  padding-bottom: 64px!important;
}

.to-the-top-button{
  border: none;
  display: inline-block;
  padding: 8px 16px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;

  color: #000!important;
  background-color: #f1f1f1!important;
}

.to-the-top-button:hover {
  color: #000!important;
  background-color: #ccc!important;
}

.social-media-icons{
  margin-top: 16px!important; 
  margin-bottom: 16px!important; 
  font-size: 24px!important; 
}

.social-media-icons a:hover{
  opacity: 0.60;
}

.last-updated{
    font-size: 12px;
}

footer a:visited {
  color: white;
}
